@model IEnumerable<TestWebApp.Models.Product>
<h1>Lista produktow</h1>

<ol>
    @foreach(var product in Model)
    {
        <li><b>@product.Name</b> - @product.Category - 
            <a href="@Url.Action("Details","Warehouse", new{Id = product.Id})">Szczegoly</a>
            @using (Html.BeginForm("Delete", "Warehouse", FormMethod.Post))
            {
                <input type="hidden" name="Id" value="@product.Id"/>
                <button type="submit">Usuń</button>
            }
        </li>
    }
</ol>
