@model TestWebApp.Models.Product

@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>
<p>@Model.Name</p>
<p>@Model.Description</p>
<p>@Model.Category</p>
<img src="https://ocdn.eu/pulscms-transforms/1/0bLk9kqTURBXy9iYTdiMWMxNDYzODVlMWUzYTNmZWEyMTQ0YTE5NDBiZC5qcGVnkpUDJAHNBwfNA_STBc0EsM0CpN4AAqEwAaExAA" alt="Zdjecie produktu" />

